.work__container {
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 15%;
    align-items: start;
}

.work__period {
    color: var(--color-light);
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    font-style: italic;
}

.work__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
    align-self: start;
}

.work__me.sticky {
    position: sticky;
    top: 50px;
}

.work__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-10deg);
    transition: var(--transition);
}

.work__me-image:hover {
    transform: rotate(0);
}

.work__me-image img {
    -webkit-user-select: none;
    user-select: none;
}

.work__content {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible .work__content {
    opacity: 1;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.work__text {
    max-height: 275px;
    margin: 1rem 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out;
    color: var(--color-light);
}

.work__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(25, 25, 45));
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.work__text.expanded::after {
    opacity: 0;
}

.work__text.expanded {
    max-height: 2300px;
}

.work__toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.work__toggle:hover {
    color: var(--color-primary-variant);
}

.work__toggle svg {
    font-size: 1.2rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .work__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .work__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .work__text {
        max-height: 220px;
    }

    .work__text.expanded {
        max-height: 1000px;
    }

    .work__toggle {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .work__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .work__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .work__text {
        max-height: 180px;
    }

    .work__text.expanded {
        max-height: 1000px;
    }
}